/*
* @type group
* @name Buttons
* @description Buttons are Buttons
*
* @dependencies
*  - bootstrap
*  - material
*/

/*
* @type element
* @name Default Buttons
* @selector sms__button
* @description The Primary Buttons is awesome
* @memberOf Buttons
*
* @state --primary - primary state
* @state --secondary - secondary state
* @state --success - success state
* @state --info - info state
* @state --danger - danger state
* @state --warning - warning state
*
* @dependencies
*   - angular
*   - material
*   - bootstrap
*
* @markup html
*   <button>This is a button</button>
* @markup javascript
*   console.log('button')
*/

/*
* @type element
* @name Transformed Buttons
* @selector sms__button sms__button--rounded
* @description The Primary Buttons is awesome
* @memberOf Buttons
*
* @state --rounded - rounded buttons
* @state --outline - outline buttons
*
*
* @markup html
*   <button>This is a button</button>
* @markup javascript
*   console.log('button')
*/