/*
* @type element
* @name Primary Button
* @selector sms__button
* @description The Primary Buttons is awesome
*
* @state --primary - primary state
* @state --secondary - secondary state
* @state --success - success state
* @state --info - info state
* @state --danger - danger state
* @state --warning - warning state
*
* @dependencies
*   - angular
*   - material
*   - bootstrap
*
* @markup html
*   <button>This is a button</button>
* @markup javascript
*   console.log('button')
*/