/*
* @type element
* @name Buttons
* @element .sms__button
* @dependencies [
*  'bootstrap',
*  'material'
* ]
* @description
*   Buttons are Buttons
*/

/*
* @type modifier
* @name Primary
* @memberOf Buttons
* @weight 1
* @modifier --primary
* @description
*   The Primary Buttons is awesome
*
* @markup html
*   <button>This is a button</button>
* @markup javascript
*   console.log('button')
*/
